<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>손길</title>
</head>

<body>
    <h1>손길</h1>
    <a href="/support">서포터즈 모드</a>
    <a href="/normal">이동약자 모드</a>
</body>

</html>