<% layout('layout/boilerplate') %>
<div class="home-background d-flex justify-content-between align-items-start">
    <div class="text-start">
        <p class="display-1 fw-bold" style="font-size: 3rem;">모두를 위한 세상,</p>
        <p class="display-1 fw-bold" style="font-size: 3rem;">함께 만드는 모두의 지도</p>
        <p class="display-1 fw-bold" style="font-size: 3rem;">손길</p>
        <p class="small">"이동약자들을 위해 지도를 만들거나 볼 수 있도록 기능들을 무료로 제공합니다."</p>
        <p class="small">모두를 위한 세상을 함께 만들어봐요."</p>
        <div class="d-flex justify-content-start">
            <a class="btn btn-primary mx-2" href="/support">시작하기</a>
        </div>
    </div>
    <div class="icon-container">
        <img src="/images/up.png" alt="Up Icon" class="scroll-image up-icon">
        <img src="/images/down.png" alt="Down Icon" class="scroll-image down-icon">
    </div>
</div>

<div class="usage-section text-center">
    <p class="display-1 fw-bold text-start" style="font-size: 3rem;">쉽게 만들고,</p>
    <p class="display-1 fw-bold" style="font-size: 3rem;">편하게 쓰는 지도</p>
    <p class="small">몇 번의 클릭으로 지도를 그려봐요!</p>
    <div class="image-container">
        <img src="/images/howdrawmap.png" alt="Image 1" class="scroll-image">
        <p></p>
        <p class="small">이동약자들을 위해 <span style="color: #ff8c00;">안전한</span> 길을 만들어주세요!</p>
        <img src="/images/draw-map.png" alt="Image 2" class="scroll-image">
        <p class="small">총거리부터 예상시간까지 계산해주는 손길 지도를 만들어보세요.</p>
    </div>
</div>


<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="usage-section text-center">
    <p class="display-1 fw-bold text-start" style="font-size: 3rem;">이동약자들과 서포터즈들을 위한 기능</p>
    <p class="small">여러 이동약자들을 손길은 어린이, 노약자, 장애인으로 세분화하여 보기 쉽게 만들었습니다.</p>
    <div class="image-container">
        <img src="/images/11.png" alt="Image 1" class="scroll-image">
        <img src="/images/22.png" alt="Image 1" class="scroll-image">
        <img src="/images/33.png" alt="Image 1" class="scroll-image">
    </div>
<br></br>
<br></br>
<br></br>
    <div class="float-left" style="margin-left: 300px;">
        <img src="/images/imagesend.png" alt="Image 1" class="scroll-image">
    </div>
    <div class="float-left" style="margin-left: 50px; margin-top: 250px;">
        <p class="small">이미지를 넣어 추가적인 정보도 제공해 보세요!</p>
    </div>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="usage-section text-center">
    <img src="/images/website-icon.png">
    <p class="display-1 fw-bold" style="font-size: 3rem;">모두를 위한 세상, 손길</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary mx-2" href="/support">시작하기</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".up-icon").hide().delay(100).animate({ opacity: 'show', left: '-=20', up: '+=100' }, 800);
        $(".down-icon").hide().delay(500).animate({ opacity: 'show', right: '-=20' }, 800);
    });
</script>