<% layout('layout/boilerplate') %>
    <div class="column">
        <h1 class="text-center">손길</h1>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-1" href="/support">서포터즈 모드</a>
            <a class="btn btn-primary mx-1" href="/normal">이동약자 모드</a>
        </div>
    </div>