<% layout('layout/boilerplate') %>
<div class="home-background d-flex justify-content-between align-items-start">
    <div class="text-start">
        <p class="display-1 fw-bold" style="font-size: 4rem;">모두를 위한 세상,</p>
        <p class="display-1 fw-bold" style="font-size: 4rem;">함께 만드는 모두의 지도</p>
        <p class="display-1 fw-bold" style="font-size: 4rem;">손길</p>
        <p class="small">"이동약자들을 위해 지도를 만들거나 볼 수 있도록 기능들을 무료로 제공합니다."</p>
        <p class="small">모두를 위한 세상을 함께 만들어봐요."</p>
        <div class="d-flex justify-content-start">
            <a class="btn btn-primary mx-2" href="/support">시작하기(서포터즈 지울 것)</a>
        </div>
    </div>
    <div class="icon-container">
        <img src="/images/website-icon.png" alt="Website Icon" class="img-fluid" style="max-width:400px;">
    </div>
</div>

<div class="usage-section">
    <h2>서포터즈들이 만들어주는 지도</h2>
    <p>안녕하세요 반갑습니다</p>
    <div class="image-container">
        <img src="/images/website-icon.png" alt="Image 1" class="scroll-image">
        <img src="/images/website-icon.png" alt="Image 2" class="scroll-image">
        <img src="/images/website-icon.png" alt="Image 3" class="scroll-image">
    </div>
</div>
