<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= maplist.location %>
    </title>
</head>

<body>
    <h1>
        <%= maplist.location %>
    </h1>
    <div>
        <img src="<%= maplist.image %>" alt="">
    </div>
</body>

</html>