/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

/* Global styles */
body {
    font-family: 'Noto Sans', sans-serif; /* Use Google Font */
}

/* Headings */
.display-1,
.lead,
.small,
.nav-link {
    font-weight: bold; /* Bold font */
}

/* Buttons */
.btn,
.btn-primary {
    font-family: 'Noto Sans', sans-serif; /* Use Google Font */
    font-weight: bold; /* Bold font */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    background-color: #ff8c00; /* Button background color */
    border: none; /* No border */
    color: #ffffff; /* Text color */
    transition: background-color 0.3s; /* Smooth transition */
}

.btn:hover,
.btn-primary:hover {
    background-color: #e67e00; /* Hover background color */
}

.btn-primary {
    border-color: #ff8c00; /* Primary button border color */
}

/* Navbar */
.navbar {
    background: linear-gradient(45deg, #ff8c00, #ff4c00); /* Gradient background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff !important; /* White text color */
    cursor: default;
}

.nav-link {
    font-weight: bold;
    color: #ffffff !important; /* White text color */
    margin-right: 15px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.nav-link:hover {
    color: #ffdd57 !important; /* Gold text color on hover */
}

.nav-link.active {
    text-decoration: underline;
    color: #ffdd57 !important; /* Gold text color for active link */
}

.navbar-toggler {
    border: none; /* Remove default border */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%2880,80,80,0.7%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Custom icon color */
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        margin: 10px 0;
    }
}

/* Home background */
.home-background {
    position: relative;
    min-height: 85vh;
    background-color: #ffffff;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Usage section */
.usage-section {
    padding: 0px;
    background-color: #ffffff;
}

.usage-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.usage-section p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-image {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-image.visible {
    opacity: 1;
    transform: translateY(0);
}
