<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Map</title>
</head>

<body>
    <h1>Add a map</h1>
    <form action="/support" method="post">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" placeholder="location">
        <label for="image">Image</label>
        <input type="text" name="image" id="image" placeholder="image">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <button>Submit</button>
    </form>
    <a href="/support">이전 페이지</a>
</body>

</html>