<% layout('layout/boilerplate') %>
<div class="login-container">
    <h1 class="text-center">로그인</h1>
    <form action="/login" method="post" class="validated-form" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">사용자 이름</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="사용자 이름" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="비밀번호" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-primary w-100">로그인</button>
    </form>
</div>
